@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'gilmer';
  src: url('/fonts/Gilmer-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gilmer';
  src: url('/fonts/Gilmer-Medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'gilmer';
  src: url('/fonts/Gilmer-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Smooth scroll behavior */
html {
  scroll-behavior: smooth;
}