---
// Hero Content component
import Pricing from "./Pricing.astro"
---

<section class="bg-cover bg-center bg-no-repeat">
  <div class="container mx-auto px-4 grid lg:grid-cols-[1fr_2fr] min-h-screen justify-content-center items-center">
    <div class="mb-20 lg:text-left text-center mt-60 lg:mt-0">
        
    </div>
    <div class="relative flex justify-center items-center">
    </div>
  </div>
</section>
